span.css-10trblm.e16nr0p30{
    color: #B4FFFF;
    font-weight: bold;
}

div.css-aoxipv.e16nr0p34{
    color:#B4FFFF;
}

div.css-16idsys.e16nr0p34{
    color:#ffff;
}

button.css-1x8cf1d.edgvbvh10{
    background:#000f3c;
}

header.css-18ni7ap.e8zbici2{
   /* background-image: url(); */
    background-size: 2%;
    background-repeat: no-repeat;
    background-position: center;
	background: rgb(32,40,205);
    background: linear-gradient(100deg, rgba(32,40,205,1) 2%, rgba(32,40,205,1) 66%, rgba(180,255,255,1) 91%);
}

footer.css-ot9ait.egzxvld1{
   color:#2028cd;
}

section.main.css-uf99v8.egzxvld5{
    background: rgb(32,40,205);
    background: linear-gradient(100deg, rgba(32,40,205,1) 2%, rgba(32,40,205,1) 66%, rgba(180,255,255,1) 91%);
}

div.css-5rimss.e16nr0p34{
    color:#ffff;
}

div.css-79elbk.e1fqkh3o10{
   /* background-image: url(); */
    background-repeat: no-repeat;
    background-position:top;
    margin-top: 30px;
    padding-top: 50px;
    background-size: 25%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  button[type=submit] {
    background-color: #ffff;
    color: #000f3c;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  button[type=submit]:hover {
    background-color: #ffff;
    color: #000f3c;
  }
  
  div.element-container.css-1hynsf2.e1tzin5v2{
    background-color: none;
}


*{
	box-sizing:border-box;
}


/* table*/
div.css-1ec096l.edw49t14 {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
	background-color: #ffff;
}